.manage-users-container {
  padding: 10px;
  .users-content {
    .btn-add-new {
      .btn {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .title {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
  }
}
.label-uploading {
  .form-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(187, 183, 183);
    width: fit-content;
    padding: 5px 10px;
    margin: 0;

    &:hover {
      background: rgb(223, 220, 220);
    }
  }
}
.modal-add-user {
  border: 3px dashed #ccc;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  .img-preview {
    height: 100%;
    width: 30%;
  }
}
