/* Tắt hiệu ứng phóng to khi click vào nút */
button:active,
a:active,
.mdb-btn:active {
  transform: none !important;
  box-shadow: none !important;
}

/* Thêm vào auth.scss nếu cần */
.Toastify__toast-container {
  z-index: 9999;
}
