body {
  padding: 0px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px !important;
  }
}
.app-container {
  .header-container {
    .btn-login,
    .btn-signup {
      height: 30px;
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
    }

    .btn-signup {
      color: white;
      background: #5d5a5a;

      &:hover {
        background: black;
      }
    }

    .navbar {
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
}

// video{
//   position:fixed;
//   bottom: 0;
//   width: 100vw;
// }

video {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto; /* Giữ tỉ lệ khung hình */
  object-fit: cover; /* hoặc contain tùy ý */
  height: 92%;
  z-index: -1; /* Để không che các phần khác */

  @media (max-width: 1300px) {
    height: 50%; /* Giảm chiều cao trên tablet */
  }
  @media (max-width: 1300px) {
    height: 40%; /* Giảm chiều cao trên tablet */
  }

  @media (max-width: 480px) {
    display: none; /* Ẩn video trên thiết bị nhỏ nếu cần */
  }
}
